# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Distribution / packaging
venv/
.idea/
notes/

# Log and user data
fastHistory/data/

# Ignored file for bashlex
fastHistory/parser/bashlex/parsetab.py
fastHistory/parser/bashlex/parser.out
*.pyc
*.swp
.coverage
.vagrant
