# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Distribution / packaging
venv/
.idea/
notes/
packaging/dist/
packaging/build/
packaging/build-env/

packaging/fastHistory.egg-info/

# Log and user data
data/
data_test/

# general
*.pyc
*.swp
.coverage
.vagrant
*.snap
