name: Python UnitTest

on: [push]

jobs:
  build:
    strategy:
        matrix:
            os: [ubuntu-latest, macos-latest]
            python-version: [3.6, 3.8]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Check environment and install dependences 
      run: |
          python3 --version
          pip3 --version
          pip3 install bashlex
          pip3 install pyperclip
          pip3 install coverage

          if [[ "$OSTYPE" == "linux-gnu" ]]; then
              echo "OS: Linux"
              sudo apt-get --yes install nmap # nmap is needed for the man parser in UnitTest
              sudo apt-get --yes install xsel xclip # needed because of pyperclip only for linux (more info: https://pyperclip.readthedocs.io/en/latest/index.html#not-implemented-error)
          elif [[ "$OSTYPE" == "darwin"* ]]; then
              echo "OS: Mac OSX"
              brew install nmap
          else
              echo "unknown: " $OSTYPE
              exit 1
          fi

    - name: Install with installer script
      if: always()
      run: |
        $GITHUB_WORKSPACE/installer.sh
        # this flag file is needed to run the TestMain unitTests (test_main.py)
        touch $HOME/.local/share/fastHistory/THIS_IS_A_TEST_FASTHISTORY_INSTALLATION

    - name: Test with UnitTest
      run: |
        # some of these tests need a successful installation and setup of fastHistory
        path_fh=$GITHUB_WORKSPACE/
        if [[ "$OSTYPE" == "linux-gnu" ]]; then
          echo "OS: Linux"
          # same as 'python3 -m unittest discover -s' but with test coverage
          coverage run --source=$path_fh/fastHistory/ --omit=$path_fh/fastHistory/unitTests/*,$path_fh/fastHistory/pick/* -m unittest discover -s $path_fh;
        elif [[ "$OSTYPE" == "darwin"* ]]; then
          echo "OS: Mac OSX"
          # on mac, we run only the unittest without coverage
          python3 -m unittest discover -s $path_fh
        else
          echo "unknown: " $OSTYPE
          exit 1
        fi

    - name: Read Coverage report
      run: |
        if [[ "$OSTYPE" == "linux-gnu" ]]; then
          coverage report -m
        else
          echo "no coverage report for not linux OSs"
        fi

    - name: Read UnitTest output logs
      if: always()
      run: |
        for i in $GITHUB_WORKSPACE/data_test/*.txt; do printf "\n\n## $i ## \n\n" ; cat "$i"; printf "\n" ; done ;

    - name: Update with installer script
      run: |
        cd $(mktemp -d /tmp/f.XXXXX) && wget -O f mkcn.me/f?pythonUnitTest && tar -xvzf f && cd fastHistory-* && ./installer.sh
        $HOME/.local/bin/f --version --from-installer

    - name: Install with pip test
      run: |
        # bashlex is not present in the test pypi, therefore it must installed separately
        pip3 install --user --index-url https://test.pypi.org/simple/ --no-deps fastHistory
        # setup environment
        $HOME/.local/bin/f --setup
        $HOME/.local/bin/f --version --from-installer

    - name: Install with pip
      run: |
        pip3 install -U --no-cache-dir --user fastHistory && $HOME/.local/bin/f --setup
        $HOME/.local/bin/f --version --from-installer

    - name: Uninstall pip
      run: |
        $GITHUB_WORKSPACE/installer.sh -u --yes-delete-everything